/*General classes*/

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
*{
    background-color:rgb(44, 40, 40) ;
    
    font-family:'Play', sans-serif ;
    

    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span {
    color: #bfbbbf;
    text-align: center;
    line-height: 1.25;                        
}

h1{
    font-size: 36px;
  /*  padding-bottom:28px ; 
    padding-top:28px ; same function si done below in .about-me__info--para and title*/
}


p{
    line-height: 1.25;
    font-size: 16px;
    color: rgb(199, 191, 202);
}


li{
    list-style-type: none;
}
.flex{
    display: flex;
}

.flex-1{
   flex:1; 
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.text--purple {
   color:#975fc4;
}
/*NAVBAR*/

nav{
    height: 100px;
    width: 100%;
    max-width: 1000px;
/*For centering*/
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav__link--list{
    display: flex;
}

.nav__link--anchor{
    margin: 0 12px;
    color: #ae89cc;
    text-decoration: none;
    font-weight: 400;

}

.nav__link--anchor-primary{
    background-color: rgb(54, 199, 108);
    padding: 8px 22px;
    border-radius: 50px;
    color:#ca44cc ;
    transition: all 500ms ease;
}

.nav__link--anchor-primary:hover{
    background-color: #4a2c5a;
}

.personal__logo {
    font-size: 24px ;
    color: rgb(28, 176, 82);
    margin: 0 12px;
    font-weight:400 ;
}

/*ABout ME*/


#about-me{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info--container{
    display: flex;
    /*tut way
    flex-direction:column
    jcc;
    otherwhise use flex flow*/
    flex-flow: column;
    align-items:center; /*centers horizontally cuz swapped*/
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.about-me__picture--mask{ 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 28px;
}

.about-me__picture {
    width: 92%;    /* makes 100% of its parent*/
     /*improving pic*/
    transform: scale(1.3);

    /*this is for moving the image inside*/
    transform-origin: 65px 90% 0;
    }

  .about-me__info--para a{   
    /*this targets only the a which is a child in abt-me_info--para parent*/
    text-decoration: none;
  }

  .about-me__info--para strong, a{
    color:rgb(54, 199, 108) ;
  }
    .about-me__info--title {
    margin-bottom: 16px;
  }   
  
  .about-me__info--para {
    font-size: 20px;
    margin-bottom: 28px;
  }  
    
  .about-me__link {
    font-size: 20px;
    color: rgb(54, 199, 108);
    text-decoration: none;
    padding: 0 13px;
 }

